APPDATA_VOLUME=/tank/data
STORAGE_VOLUME=/tank/storage
LOGGING_VOLUME=${APPDATA_VOLUME}/logs

# IP of router for traefik web panel forward
ROUTER_IP=192.168.0.1
# IP of NAS
LAN_HOST=192.168.0.228

HOST=host.duckdns.org
# host email for acme
HOST_EMAIL=admin@example.org
# duckdns is hardcoded, to use other provider, change `compose.yaml` and `traefik/traefik.yml`
DUCKDNS_TOKEN=12345678-90ab-cdef-88fe-38a2774e517d
# regru
# add NAS IP, 172.65.32.248 and 194.67.72.30 ips to https://www.reg.ru/user/account/#/settings/api/
# this is acme-v02.api.letsencrypt.org and api.reg.ru IPs
# for regru add REGRU_USERNAME and REGRU_PASSWORD creds to .env
# REGRU_USERNAME=regru@mail.ru
# REGRU_PASSWORD=regru_pa55w0rd
# also link values below in compose.yaml services.traefik.environment
# - REGRU_USERNAME=${REGRU_USERNAME?}
# - REGRU_PASSWORD=${REGRU_PASSWORD?}
# - REGRU_PROPAGATION_TIMEOUT=7200
# - REGRU_POLLING_INTERVAL=30
# and change certificatesResolvers.ddnsResolver.acme.dnsChallenge.provider in traefik/traefik.yml
# also comment out duckdns fix in same file

LDAP_FIRST_DC=host
LDAP_HOST=dc=${LDAP_FIRST_DC},dc=duckdns,dc=org
LDAP_BIND_ADMIN=admin
LDAP_BIND_ADMIN_PASSWORD=adminpassword
# may be one_factor and two_factor
AUTHELIA_ACCESS_CONTROL_DEFAULT_POLICY=two_factor
# docker exec authelia authelia crypto hash generate argon2 --random --random.length 64 --random.charset alphanumeric
AUTHELIA_SECRET=a_very_important_secret
# openssl rand -hex 16
BOUNCER_KEY_TRAEFIK=a_very_important_secret

SAMBA_USER=user
SAMBA_GROUP=group
SAMBA_PASSWORD=qwertysamba12345
