# https://ipv64.net
IPV64_API_KEY=randomkey2b5810adb1e886bc89134d8

# https://www.duckdns.org
# DUCKDNS_TOKEN=12345678-90ab-cdef-88fe-38a2774e517d

# https://www.reg.ru
# add NAS IP, 172.65.32.248 and 194.67.72.30 ips to https://www.reg.ru/user/account/#/settings/api/
# this is acme-v02.api.letsencrypt.org and api.reg.ru IPs
# REGRU_USERNAME=regru@mail.ru
# REGRU_PASSWORD=regru_pa55w0rd
# REGRU_PROPAGATION_TIMEOUT=7200
# REGRU_POLLING_INTERVAL=30
